@import "../node_modules/bootstrap/scss/bootstrap";

$primary : #009AFB;
$background: #0E1B50;

header{
    height: 125px;
}
#navbar{
    background-color: $background;
}

#navbar > div > header > ul a{
    color: white;
}

#navbar header .contact-btn{
padding: 5px 36px;
background: $primary;
}
.dropdown-menu.menu.show{
background-color: $background;
}

.dropdown-menu.menu.show li .dropdown-item{
    color: white;
}
#blog{
    margin-top: 50px;
}
#blog h2{
    text-align: left;
    font: normal normal normal 12px/20px Helvetica;
    letter-spacing: 0px;
    color: #009AFB;
    opacity: 1;
}

#blog h3{
    text-align: left;
    font: normal normal bold 20px/24px Helvetica;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#blog p{
    text-align: left;
    font: normal normal normal 16px/20px Helvetica;
    letter-spacing: 0px;
    opacity: 1;
}

#blog .read-more{
    text-align: left;
    font: normal normal normal 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #1A0DAB;
}

#blog .read-more a{
    text-decoration: none;
}

#blog .border{
    border-right-width: 10px !important;
    border-bottom-width: 10px !important;
    border-left-width: 10px !important;
    border-color: #009AFB !important;
    padding-bottom: 50px;
}

#cta {
    margin-top: 50px;
    height: 270px;
    background: #0E1B50;
}

#cta .container h2{
    // margin-top: 50px;
    margin: 50 0 29 0;
    padding-top: 44px;
    display: flex;
    justify-content: center;
    font: normal normal bold 30px/37px Helvetica Neue;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#cta .container .input-group{
    width: 420px;
    margin-top: 30px;

}

#cta .container .input-group .email-form{
margin-right: 20px;
}

#cta .container .input-group .submit-button{
    padding: 5px 36px;
    background: $primary;
}